.page {
  max-width: 64rem;
  margin: 1rem auto;
}

.page-logo:before {
  content: none;
}

.nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem 2rem;
}

.main-nav ul li {
  background: var(--color-bg);
  box-shadow: 0 0 0 1rem var(--color-bg);
}

.footer-nav a {
  color: var(--color-fg-muted);
}

.nav ul li::marker {
  content: "> ";
}

.page-main {
  margin: 2rem 0 0 0;
  background: var(--color-bg);
  box-shadow: 0 0 0 1rem var(--color-bg);
}

.page-footer {
  background: var(--color-bg);
  box-shadow: 0 0 0 1rem var(--color-bg);
}

.post-list td.post-date {
  color: var(--color-fg-muted);
}
