/* Link color in footer should be muted. */
.nav-footer a {
  color: var(--color-fg-muted);
}

/* Owl! */
.page-owl {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.page-owl .owl {
  position: relative;
}

@keyframes owl-idle {
  0% {
    background-position-x: -192px;
  }

  100% {
    background-position-x: -288px;
  }
}

@keyframes owl-pat {
  0% {
    background-position-x: -144px;
  }

  100% {
    background-position-x: 48px;
  }
}

.page-owl .owl-btn {
  cursor: grab;
  width: 48px;
  height: 48px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  background-image: url("../img/owl.png");
  background-position-x: -192px;
  background-size: cover;
  outline: none;
}

.page-owl .owl-btn:active {
  background-position-x: 0px;
}

.page-owl .owl-counter {
  position: absolute;
  white-space: nowrap;
  font-size: 0.8rem;
  left: 100%;
  top: 0;
  transform: translateY(-25%);
  padding: 0 0.5rem;
  background: var(--color-bg-gradient-dark);
  background: radial-gradient(
    at right bottom,
    var(--color-bg-gradient-dark),
    var(--color-bg-gradient-light)
  );
  user-select: none;
  border: 1px solid var(--color-accent);
  opacity: 0;
  visibility: hidden;
  transition: all 0s linear;
  clip-path: inset(0 100% 0 0);
}

.page-owl .owl-counter.owl-counter-active {
  opacity: 1;
  visibility: visible;
  clip-path: inset(0 0 0 0);
}

@media (prefers-reduced-motion: no-preference) {
  .page-owl .owl-btn {
    animation: owl-idle 1s steps(2) infinite;
  }

  .page-owl .owl-btn:active {
    animation: owl-pat 2s steps(4) infinite;
  }

  .page-owl .owl-counter {
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  }
}

/* Prevent wrapping in selected columns */
table.tab-nowrap-2 th:nth-child(2),
table.tab-nowrap-2 td:nth-child(2),
table.tab-nowrap-3 th:nth-child(3),
table.tab-nowrap-3 td:nth-child(3),
table.tab-nowrap-4 th:nth-child(4),
table.tab-nowrap-4 td:nth-child(4) {
  white-space: nowrap;
}

/* Make bottom padding adapt for owl */
.page {
  padding-bottom: 0;
}
